@media screen and (max-width: 1110px) {
    /* Skills section */

    .skills-info {
        flex-direction: column;
        align-items: stretch;
    }

    .edu-list .item {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 1024px) {

    /* Mobile Navigation */
    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--transparent-color-01);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }

    .navigation.active {
        visibility: visible;
        opacity: 1;
    }

    .nav-items {
        position: relative;
        background-color: var(--modal-bg-color);
        width: 600px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-50px);
        transition: .3s ease;
    }

    .navigation.active .nav-items {
        transform: translateY(0);
    }

    .nav-items a {
        margin: 15px 50px;
    }

    .nav-menu-btn {
        background: url(../icons/bars-solid.svg) no-repeat;
        filter: var(--color-filter);
        background-size: 20px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
    }

    .nav-close-btn {
        position: absolute;
        background: url(../icons/xmark-solid.svg) no-repeat;
        filter: var(--color-filter);
        background-size: 20px;
        background-position: center;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
    }

    /* Home Section */
    .home .home-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .home .home-container .info {
        margin-top: 1rem;
        font-size: 0.85rem;
        width: 100%;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home .home-container .home-image img {
        max-width: 400px;
    }

    .home .home-container .info h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .home .home-container .info h3 {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    .home .home-container .info p {
        text-align: center;
        font-size: 1rem;
        margin: 10px 0;
        max-width: 100%;
    }

    .home-container .media-icons {
        display: none;
    }

    /* About Section */
    .about .container .content {
        display: grid;
        row-gap: 20px;
        width: 100%;
    }

    .about-img img {
        min-width: 0;
        width: 100%;
    }

    .about-info {
        min-width: 0;
        width: 100%;
    }

    .about-info .professional-list {
        flex-direction: column;
    }

    .about-info .professional-list .list-item {
        justify-content: start;
    }

    /* Contact Section */
    .contact .content {
        flex-direction: column;
        font-size: 0.9rem;
    }

    .contact .contact-left {
        margin-bottom: 40px;
    }


    /* Footer Section */
    footer .footer-container {
        flex-direction: column;
    }

    .footer-container .about,
    .footer-container .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .footer-container .info ul {
        align-items: center;
        flex-direction: column;
    }

    .footer-container .info ul li {
        margin: 5px 0;
    }

    .footer-container .hr {
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.2);
        margin: 10px 0 22px;
    }
}

@media screen and (max-width: 768px) {

    /* Common */
    body {
        margin: 5rem 0 0 0;
    }

    .section-title-01 {
        font-size: 3rem;
    }

    .section-title-02 {
        font-size: 2rem;
        transform: translateY(-65px);
    }

    /* Home Section */
    .home .home-container .home-image img {
        max-width: 350px;
    }

    /* Contact Section */
    .contact-form .second-row {
        flex-direction: column;
    }

    .contact-form .second-row input {
        width: 100%;
    }

    /* Footer section */
    .footer-copyright p {
        margin-top: 30px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {
    section {
        padding: 4rem 2rem 2rem;
    }

    .section-title-01 {
        font-size: 2.5rem;
    }

    .section-title-02 {
        font-size: 1.8rem;
    }

    /* Home section */
    .home .home-container .home-image img {
        max-width: 250px;
    }

    .home .home-container #home-title {
        font-size: 2.5rem;
    }

    .home .home-container #home-sub-title {
        font-size: 1.05rem;
    }

    /* About section */
    .about-img img {
        width: 250px;
    }

    .about-info .description h3 {
        font-size: 1.8rem;
    }

    .about-info .description h4 {
        text-align: justify;
        font-size: 1rem;
    }

    .about-info .description p {
        font-size: 0.9rem;
    }

    .professional-list .list-item h3 {
        font-size: 2rem;
    }

    .about-info .professional-list .list-item span {
        font-size: 0.9rem;
    }

    /* Skills section */
    .edu-list .item .year,
    .edu-list .item p span,
    .edu-list .item p {
        font-size: 1rem;
    }

    .edu-list .item img {
        width: 4rem;
    }

    .skills-description h3 {
        font-size: 1.3rem;
    }

    /* Service section */
    .services-description h3 {
        font-size: 1.4rem;
    }

    .service-card h3 {
        font-size: 1.25rem;
    }

    .service-card .learn-more-btn {
        font-size: 1rem;
    }

    .service-modal-body h3,
    .portfolio-model-body h3 {
        font-size: 1.2rem;
    }

    .service-modal-body h4 {
        font-size: 0.9rem;
    }

    .service-modal-body p,
    .service-modal-body ul li {
        font-size: 0.875rem;
    }

    .portfolio-model-body p,
    .portfolio-model-body li {
        font-size: 0.9rem;
    }

    .portfolio-model-body span {
        font-size: 1rem;
    }

    /* Contact section */
    .contact-left h2 {
        font-size: 1.6rem;
    }

    .contact-list li h3 {
        font-size: 1.4rem;
    }

    /* Footer section */
    .footer-container .about,
    .footer-container .info {
        margin-bottom: 25px;
    }

    .footer-container .about h2 {
        font-size: 2rem;
    }

    .footer-container .about p {
        font-size: 1rem;
    }

    .footer-container .info h3,
    .footer-container .follow h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 380px) {

    /* Home section */
    .home .home-container #home-title {
        font-size: 2.2rem;
    }

    .home .home-container #home-sub-title {
        font-size: 0.95rem;
    }

    .home .home-container .info p {
        font-size: 0.9rem;
        text-align: center;
    }

    /* Skills section */
    .skills-description p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 375px) {
    /* About section */
    .about-info .description h3 {
        font-size: 1.45rem;
    }

    .about-info .professional-list .list-item h3{
        font-size: 2.2rem;
    }

    /* Contact section */
    .contact-list li h3,
    .contact-list li h3 i{
        font-size: 1.4rem;
    }

    .contact-list li span{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 340px) {
    /* Home section */
    .home .home-container #home-title{
        font-size: 2rem;
    }

    /* Footer section */
    .footer-container .about h2{
        font-size: 1.9rem;
    }

    .footer-container .about p{
        font-size: 0.9rem;
    }
}