@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('/assets/fonts/JetBrainsMono-Regular.woff') format('woff'),
        url('/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
button,
input,
textarea {
    font-family: 'JetBrains Mono', monospace;
}


.nav-bar .logo,
body {
    color: var(--first-color)
}

.btn,
.nav-items a {
    font-size: var(--normal-font-size);
    text-transform: uppercase
}

.home,
.nav-bar {
    max-width: 80.35rem
}

.btn,
.home .scroll-down,
.nav-items a {
    text-transform: uppercase
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --first-color: #1a1a1a;
    --second-color: #e63968;
    --third-color: #333333;
    --hover-color: #b30046;
    --body-bg-color: #f9fafb;
    --card-bg-color: #ffffff;
    --modal-bg-color: #fafafa;
    --bg-transparent-color: rgba(0, 0, 0, 0.15);
    --bg-transparent-color-01: rgba(106, 89, 209, 0.15);
    --line-color: #c0c0c0;
    --color-filter: invert(1);
    --box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    --scroll-bar-color: #b0b7d9;
    --scroll-thumb-color: #606680;
    --scroll-thumb-hover-color: #2b3452;
    --normal-font-size: 1.05rem;
    --para-font-size: 1.2rem;
    --title-sm-font: 1.5rem;
    --title-font-size: 4rem;
}

html {
    scroll-behavior: smooth
}

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--body-bg-color);
    margin: 2rem 0 0;
    transition: .5s
}

.home,
.nav-bar,
.sub-section,
section {
    margin-left: auto;
    margin-right: auto;
    position: relative
}

img {
    width: 100%;
}

ul {
    list-style-type: none
}

a {
    text-decoration: none
}

section {
    width: 71.8rem;
    padding: 6rem 2rem 2rem
}

.btn {
    background-color: var(--second-color);
    color: #fff;
    font-weight: 500;
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1.2rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center
}

::-webkit-scrollbar {
    width: .6rem;
    background: var(--scroll-bar-color)
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 1.3rem
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color)
}

.btn:hover,
.nav-items a.active::after,
header.sticky .nav-items a.active::after {
    background-color: var(--hover-color)
}

header {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s
}

header.sticky {
    background: rgba(255, 255, 255, .1);
    box-shadow: var(--box-shadow)
}

.nav-bar {
    height: calc(4rem + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
    transition: .6s
}

.portfolio-model,
.service-modal {
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden
}

header.sticky .nav-bar {
    height: calc(2.5rem + 1rem)
}

.nav-bar .logo {
    font-size: 2.5rem;
    font-weight: 800;
    cursor: default
}

.about-info .description h4 span,
.nav-bar .logo span,
.service-modal-body ul li i {
    color: var(--second-color)
}

.nav-items a {
    color: var(--first-color);
    font-weight: 400;
    position: relative;
    padding-bottom: 5px
}

.nav-items a:not(:last-child) {
    margin-right: 3.125rem
}

.nav-items a.active,
.nav-items a:hover {
    color: var(--hover-color);
    text-decoration: none
}

.nav-items a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0
}

.home {
    min-height: 100vh;
    padding: 4rem 2rem;
    flex-direction: column
}

.home .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.home-container .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem
}

.home-container .media-icons a {
    color: var(--second-color);
    font-size: 1.5rem;
    margin: .625rem 0
}

.home-container .media-icons a:hover {
    color: var(--hover-color)
}

.home-container .media-icons i {
    font-size: 1.8rem
}

.home-container .info,
.portfolio .container .content,
.services .container .content,
.skills .container .content {
    width: 100%
}

.home-container .info h2 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.375rem
}

.home-container .info h3 {
    color: var(--second-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3.125rem
}

.home-container .info p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    text-align: justify;
    max-width: 21.8rem
}

.home-container .home-image {
    position: relative;
    width: 90%;
    transform: translate(0, 0)
}

.home-container .home-image img {
    max-width: 500px
}

.home .scroll-down {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 1.35rem
}

.home .scroll-down i {
    animation: 2s infinite arrow-down;
    color: var(--second-color);
    font-size: 1.2rem
}

@keyframes arrow-down {
    0% {
        transform: translateY(0)
    }

    30% {
        transform: translateY(.6rem)
    }
}

.sub-section {
    width: 71.8rem;
    padding: 6rem 0
}

.section-title-01 {
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1
}

.about-info .professional-list .list-item h3,
.section-title-02 {
    font-size: 2.5rem;
    font-weight: 700
}

.section-title-02 {
    transform: translateY(-5rem)
}

.section-title-02::before {
    content: '';
    position: absolute;
    width: 100%;
    height: .3rem;
    border-radius: .6rem;
    right: 0;
    bottom: 0;
    background: var(--second-color)
}

.edu-list .item,
.service-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    box-shadow: var(--box-shadow)
}

.container {
    position: relative;
    flex-direction: column
}

.about .container .content {
    column-gap: 2.5rem;
    width: 100%
}

.about-img {
    position: relative;
    display: flex;
    align-items: center
}

.about-img img {
    max-width: 400px;
    border-radius: 1rem
}

.about-info .description {
    max-width: 40rem
}

.about-info .description h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: .6rem
}

.about-info .description h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .6rem
}

.about-info .description p {
    text-align: justify;
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: .9rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--line-color)
}

.about-info .professional-list {
    display: flex;
    column-gap: 2rem
}

.edu-list .item .year,
.edu-list .item p span,
.skills-info h4 label {
    font-size: var(--normal-font-size)
}

.about-info .professional-list .list-item span,
.edu-list .item p {
    color: var(--third-color);
    font-size: var(--normal-font-size)
}

.skills-description {
    max-width: 700px;
    margin-bottom: 3.1rem
}

.service-list,
.skills-info {
    max-width: 100%;
    gap: 1.25rem;
    display: grid
}

.skills-description h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .3rem
}

.service-modal-body p,
.skills-description p {
    text-align: justify
}

.skills-info {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0 auto
}

.skills-info h4 {
    margin-bottom: 1.25rem
}

.skills-info h4 label {
    background: var(--second-color);
    color: #fff;
    font-weight: 400;
    padding: .5rem .9rem;
    border-radius: .5rem
}

.education-all {
    margin-bottom: 5rem
}

.edu-list .item {
    padding: 1.25rem;
    margin-top: .9rem;
    border-radius: .8rem;
    transition: .3s
}

.edu-list .item .year {
    margin-bottom: .3rem
}

.edu-list .item p span {
    color: var(--first-color);
    font-weight: 500
}

.edu-list .item img {
    max-width: 3.75rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow)
}

.edu-list .item .icons {
    margin-top: .35rem;
    display: flex;
    justify-content: space-around
}

.services-description h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.1rem
}

.service-list {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin: 0 auto
}

.service-card {
    padding: 2rem;
    border-radius: 1rem
}

.portfolio-model-body,
.service-modal-body {
    padding: 2.5rem;
    transform: translateY(-50px)
}

.service-card>i {
    color: var(--second-color);
    font-size: 1.8rem;
    margin-bottom: 1.8rem
}

.service-card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-bottom: 1.25rem
}

.service-card .learn-more-btn {
    color: var(--second-color);
    cursor: pointer;
    transition: .3s
}

.service-card .learn-more-btn i {
    transition: .3s
}

.service-card:hover .learn-more-btn i {
    transform: translateX(.6rem)
}

.service-modal {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background: var(--bg-transparent-color);
    backdrop-filter: blur(0.6rem);
    opacity: 0;
    transition: .3s
}

.portfolio-model.active,
.service-modal.active {
    visibility: visible;
    opacity: 1
}

.service-modal-body {
    position: relative;
    background: var(--modal-bg-color);
    max-width: 650px;
    margin: 1.25rem;
    border-radius: .6rem;
    box-shadow: var(--box-shadow);
    transition: .5s
}

.portfolio-list .img-card,
.portfolio-model-body {
    border-radius: 1rem;
    box-shadow: var(--box-shadow)
}

.portfolio-model.active .portfolio-model-body,
.service-modal.active .service-modal-body {
    transform: translateY(0)
}

.portfolio-close-btn,
.service-modal-body .modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.25rem;
    cursor: pointer
}

.portfolio-model-body h3,
.service-modal-body h3 {
    font-size: 1.5rem
}

.service-modal-body h4 {
    font-size: 1.05rem;
    font-weight: 600;
    margin: 15px 0 10px
}

.service-modal-body ul li {
    margin-top: 15px
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 100%;
    gap: 2rem;
    margin: 0 auto
}

.portfolio-list .img-card {
    position: relative;
    max-width: 100%;
    height: 22rem;
    overflow: hidden;
    cursor: pointer
}

.portfolio-list .img-card .overlay {
    transition: 1s
}

.portfolio-list .img-card:hover .overlay {
    z-index: 700;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5)
}

.portfolio-list .img-card .info {
    z-index: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1.25rem;
    color: #fff;
    transform: translateY(1.25rem);
    opacity: 0;
    transition: .5s
}

.portfolio-list .img-card:hover .info {
    transform: translateY(0);
    opacity: 1
}

.portfolio-list .img-card .info h3 {
    font-size: 1.45rem;
    font-weight: 800
}

.portfolio-list .img-card .info span {
    font-size: 1.1rem;
    font-weight: 600
}

.portfolio-list .img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.portfolio-model {
    z-index: 10000;
    position: fixed;
    width: 100%;
    background: var(--bg-transparent-color-01);
    backdrop-filter: blur(1.25rem);
    opacity: 0;
    transition: .3s
}

.portfolio-model-body {
    position: relative;
    background: var(--modal-bg-color);
    max-width: 700px;
    transition: .5s
}

.portfolio-model-body p {
    margin: .5rem auto;
    text-align: justify
}

.portfolio-model-body ul li::before {
    content: '\f058';
    font-family: 'Font Awesome 6 Free';
    color: var(--second-color)
}

.portfolio-model-body li {
    margin: .6rem auto;
    text-align: justify;
    line-height: 1.5rem
}

.portfolio-model-body span {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--first-color)
}

/* Contact form */
.contact .container .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact-left,
.contact-right{
    flex: 1;
}

.contact-left h2{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact-list li{
    margin-bottom: 40px;
}

.contact-list li h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li h3 i{
    color: var(--second-color);
    font-size: 1.3rem;
    margin-right: 10px;
}

.contact-list li span{
    color: var(--second-color);
    margin-left: 40px;
}

.contact-list li span a{
    color: var(--third-color);
}

.contact-right p{
    color: var(--third-color);
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.contact-right p span{
    color: var(--first-color);
    font-weight: 700;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    color: var(--first-color);
    background: var(--bg-transparent-color-01);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 5px;
}

.contact-form .second-row{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.contact-form .second-row input{
    width: 50%;
}

.contact-right textarea{
    resize: none;
}

::placeholder{
    color: var(--first-color);
}

.contact-form .btn{
    border: none;
    margin-top: 0;
    border-radius: 10px;
    cursor: pointer;
}